* {
    margin: 0;
    padding: 0;
}
#home {
    background: url("https://media1.giphy.com/media/nCi1cAiF4eApO/giphy.gif") no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#home h3 {
    font-family: cursive, serif;
    font-style: italic;
}

.about h1 {
    color: rgb(3, 51, 71);
}

#bio h1{
    color: rgb(3, 51, 71);
}

#blog h1 {
    color: rgb(3, 51, 71);
}

#contact h1 {
    color: rgb(3, 51, 71);
}

#work h1 {
    color: rgb(3, 51, 71);
}

#activities h1 {
    color: rgb(3, 51, 71);
}

#activities h2 {
    color: rgb(3, 51, 71);
}

#old h1 {
    color: rgb(3, 51, 71);
}

#old h2 {
    color: rgb(3, 51, 71);
}

#cd {
    color: rgb(3, 51, 71);
}

footer ul {
    list-style: none;
}

footer li img {
   width: 32px;
   height: 32px;
}

.nav.navbar-nav a:hover {
    color: rgb(3, 51, 71) !important;
}
